Repository developmentseed/eoapi-k8s: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-syntax, helm-schema-validation

.pre-commit-config.yaml:

# Pre-commit configuration for eoAPI Kubernetes charts
# Fast, essential checks only - heavy validation moved to CI

repos:
  # Basic file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^charts/.+/templates/
      - id: check-added-large-files

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        exclude: ^charts/.+/templates/

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        name: ruff lint
        args: ['--fix']
        files: ^tests\/.*\.py$
      # Formatter
      - id: ruff-format
        name: ruff format
        files: ^tests\/.*\.py$

  # Python type checking for all test files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy type checking for tests
        args: ['--ignore-missing-imports', '--no-strict-optional']
        files: ^tests\/.*\.py$
        additional_dependencies:
          - 'types-psycopg2'
          - 'types-requests'
          - 'httpx'
          - 'pytest'
          - 'kubernetes'

  # Fast Helm syntax check only
  - repo: local
    hooks:
      - id: helm-lint-syntax
        name: Helm Syntax Check
        entry: >
          bash -c 'for chart in charts/*/; do
          if [ -f "$chart/Chart.yaml" ]; then
          if grep -q "dependencies:" "$chart/Chart.yaml" 2>/dev/null; then
          if [ -d "$chart/charts" ] && [ -n "$(find "$chart/charts" -name "*.tgz" 2>/dev/null)" ]; then
          echo "Linting $chart (dependencies available)...";
          helm lint "$chart" --strict || exit 1;
          else echo "Skipping $chart (dependencies not built - run make deploy or scripts/helm-setup.sh first)";
          fi; else echo "Linting $chart (no dependencies)...";
          helm lint "$chart" --strict || exit 1; fi; fi; done'
        language: system
        files: ^charts/.+\.(yaml|yml)$
        pass_filenames: false

      - id: helm-schema-validation
        name: Helm Schema Validation
        entry: ./eoapi-cli test schema
        language: system
        files: ^charts/.+\.(json|yaml|yml)$
        pass_filenames: false

# Exclude directories
exclude: |
  (?x)^(
      \.git/.*|
      charts/.+/charts/.*|
      charts/.+/tmpcharts.*/.*
  )$

fix: correct doc-server resources placement and browser resource test asserts.
  charts/eoapi/templates/services/doc-server.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

chore: drop affinity and tolerations from values.schema.json (pass-through only)
  charts/eoapi/values.schema.json
Due: helm-schema-validation

fix(argocd): use sync to avoid DB deletion before every sync
  charts/eoapi/tests/argo_hooks_test.yaml
  charts/eoapi/values/argocd.yaml
  docs/argocd.md
Due: helm-lint-syntax, helm-schema-validation

fix(argocd): use sync to avoid DB deletion before every sync (#452)
  charts/eoapi/tests/argo_hooks_test.yaml
  charts/eoapi/values/argocd.yaml
  docs/argocd.md
Due: helm-lint-syntax, helm-schema-validation

ci: fixed build stac browser routine.
  .github/workflows/stac-browser.yml
Due: none

feat: Added STAC Browser visual configuration.
  .gitignore
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/tests/stac-auth-proxy-filters_test.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
  docs/unified-ingress.md
  scripts/deployment.sh
Due: helm-lint-syntax, helm-schema-validation

Replaced eoepca wording in tests.
  charts/eoapi/tests/stac_browser_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

feat: Added STAC Browser visual configuration. (#454)
  .gitignore
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/tests/stac-auth-proxy-filters_test.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
  docs/unified-ingress.md
  scripts/deployment.sh
Due: helm-lint-syntax, helm-schema-validation

feat: add resources configuration of browser and doc-server (#424)
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/templates/services/doc-server.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

feat: Added STAC Browser labels.
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

ci: fixed build stac browser routine. (#453)
  .github/workflows/stac-browser.yml
Due: none

fix: refactor ingress to data-driven template and fix STAC auth-proxy path handling
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/services/stac/deployment.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
Due: helm-lint-syntax, helm-schema-validation

refactor: consolidate dual ingress resources into unified configuration.
  charts/eoapi/templates/networking/ingress-no-prefix.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/services/browser/service.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
  charts/eoapi/values.yaml
  docs/unified-ingress.md
  scripts/cluster.sh
Due: helm-lint-syntax, helm-schema-validation

Improved docs about unified ingress.
  docs/unified-ingress.md
Due: none

Simplified code a bit.
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
Due: helm-lint-syntax, helm-schema-validation

ci: moved mockoidcserver to clearly testing only.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/mock-oidc/deployment.yaml
  charts/eoapi/templates/mock-oidc/service.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/testing/README.md
  charts/eoapi/templates/testing/deployment.yaml
  charts/eoapi/templates/testing/service.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

ci: moved mockoidcserver to clearly testing only. (#457)
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/mock-oidc/deployment.yaml
  charts/eoapi/templates/mock-oidc/service.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/testing/README.md
  charts/eoapi/templates/testing/deployment.yaml
  charts/eoapi/templates/testing/service.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

refactor: remove ingress path stripping.
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/services/stac/deployment.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
  charts/eoapi/tests/stac_tests.yaml
  docs/unified-ingress.md
Due: helm-lint-syntax, helm-schema-validation

chore(deps): updated stac-auth-proxy to v1.0.1.
  charts/eoapi/Chart.yaml
Due: helm-lint-syntax, helm-schema-validation

refactor: consolidate dual ingress resources into unified configuration. (#456)
  charts/eoapi/templates/networking/ingress-no-prefix.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/templates/services/browser/service.yaml
  charts/eoapi/templates/services/stac/deployment.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
  charts/eoapi/values.yaml
  docs/unified-ingress.md
  scripts/cluster.sh
Due: helm-lint-syntax, helm-schema-validation

chore: add AGENTS.md and CONTRIBUTING.md with vibe coding considerations.
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

Make AGENTS.md more agentic
  AGENTS.md
Due: none

chore: add AGENTS.md and CONTRIBUTING.md with vibe coding considerations. (#469)
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

fix: mockoidcserver integration test.
  tests/conftest.py
Due: none

fix: mockoidcserver integration test. (#472)
  tests/conftest.py
Due: none

ci: pin GitHub Actions to SHA digests
  .github/workflows/ci.yml
  .github/workflows/pr.yaml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/stac-browser.yml
Due: none

ci: add Dependabot for GitHub Actions version updates
  .github/dependabot.yml
Due: none

chore: upgraded stac-manager to version 1.0.3.
  charts/eoapi/Chart.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

ci: pin GitHub Actions to SHA digests (fix zizmor unpinned-uses) (#481)
  .github/workflows/ci.yml
  .github/workflows/pr.yaml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/stac-browser.yml
Due: none

ci: add Dependabot for GitHub Actions version updates (#482)
  .github/dependabot.yml
Due: none

fix(ci): helm unittests.
  .github/workflows/ci.yml
Due: none

fix(ci): helm unittests. (#502)
  .github/workflows/ci.yml
Due: none
