Repository developmentseed/eoapi-k8s: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-syntax, helm-schema-validation

.pre-commit-config.yaml:

# Pre-commit configuration for eoAPI Kubernetes charts
# Fast, essential checks only - heavy validation moved to CI

repos:
  # Basic file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^charts/.+/templates/
      - id: check-added-large-files

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        exclude: ^charts/.+/templates/

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        name: ruff lint
        args: ['--fix']
        files: ^tests\/.*\.py$
      # Formatter
      - id: ruff-format
        name: ruff format
        files: ^tests\/.*\.py$

  # Python type checking for all test files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy type checking for tests
        args: ['--ignore-missing-imports', '--no-strict-optional']
        files: ^tests\/.*\.py$
        additional_dependencies:
          - 'types-psycopg2'
          - 'types-requests'
          - 'httpx'
          - 'pytest'
          - 'kubernetes'

  # Fast Helm syntax check only
  - repo: local
    hooks:
      - id: helm-lint-syntax
        name: Helm Syntax Check
        entry: >
          bash -c 'for chart in charts/*/; do
          if [ -f "$chart/Chart.yaml" ]; then
          if grep -q "dependencies:" "$chart/Chart.yaml" 2>/dev/null; then
          if [ -d "$chart/charts" ] && [ -n "$(find "$chart/charts" -name "*.tgz" 2>/dev/null)" ]; then
          echo "Linting $chart (dependencies available)...";
          helm lint "$chart" --strict || exit 1;
          else echo "Skipping $chart (dependencies not built - run make deploy or scripts/helm-setup.sh first)";
          fi; else echo "Linting $chart (no dependencies)...";
          helm lint "$chart" --strict || exit 1; fi; fi; done'
        language: system
        files: ^charts/.+\.(yaml|yml)$
        pass_filenames: false

      - id: helm-schema-validation
        name: Helm Schema Validation
        entry: ./eoapi-cli test schema
        language: system
        files: ^charts/.+\.(json|yaml|yml)$
        pass_filenames: false

# Exclude directories
exclude: |
  (?x)^(
      \.git/.*|
      charts/.+/charts/.*|
      charts/.+/tmpcharts.*/.*
  )$

foo
  charts/eoapi/values.yaml
  docs/stac-auth-proxy.md
  scripts/deployment.sh
  scripts/test/images.sh
Due: helm-lint-syntax, helm-schema-validation

fix(ci): OIDC_DISCOVERY_INTERNAL_URL health checks. (#504)
  charts/eoapi/values.yaml
  docs/stac-auth-proxy.md
  scripts/deployment.sh
  scripts/test/images.sh
Due: helm-lint-syntax, helm-schema-validation

fix: load testing script namespace handling.
  docs/autoscaling.md
  scripts/load.sh
  tests/autoscaling/test_autoscaling.py
  tests/conftest.py
Due: none

fix: stac-auth-proxy autoscaling.
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/tests/stac-auth-proxy_autoscaling_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/stac-auth-proxy.md
Due: helm-lint-syntax, helm-schema-validation

fix: stac-auth-proxy autoscaling. (#505)
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/tests/stac-auth-proxy_autoscaling_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/stac-auth-proxy.md
Due: helm-lint-syntax, helm-schema-validation

fix(docserver): allow redirect.
  charts/eoapi/templates/services/doc-server.yaml
  charts/eoapi/tests/doc-server_test.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

fix(docserver): allow redirect. (#516)
  charts/eoapi/templates/services/doc-server.yaml
  charts/eoapi/tests/doc-server_test.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

runbooks.
  scripts/README.md
  scripts/runbooks/README.md
  scripts/runbooks/db-deep-dive.sh
  scripts/runbooks/db-partition-audit.sh
  scripts/runbooks/debug-collection.sh
  scripts/runbooks/loadtest.sh
  scripts/runbooks/storage-bench.sh
Due: none

fix: completed autoscaling instructions.
  charts/eoapi/templates/NOTES.txt
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

fix: completed autoscaling instructions. (#521)
  charts/eoapi/templates/NOTES.txt
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

fix: rely on pgstac default for context=off.
  charts/eoapi/profiles/core.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/profiles/production.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

fix: rely on pgstac default for context=off. (#522)
  charts/eoapi/profiles/core.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/profiles/production.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/autoscaling.md
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

feat: add browser.extraEnv passthrough for stac-browser SB_* config
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

feat: add browser.extraEnv passthrough for stac-browser SB_* config (#525)
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

chore(deps): upgraded eoapi-notifier to 0.10.0.
  charts/eoapi/Chart.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

chore(deps): upgrade eoapi-notifier to 0.1.0. (#527)
  charts/eoapi/Chart.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

bump
  charts/eoapi/Chart.yaml
Due: helm-lint-syntax, helm-schema-validation

fix(stac-fastapi-pgstac): Added required collections field.
  charts/eoapi/data/initdb/samples/noaa-emergency-response.json
Due: helm-schema-validation

feat(ingress): make Traefik router entrypoints configurable
  charts/eoapi/Chart.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/unified-ingress.md
Due: helm-lint-syntax, helm-schema-validation

fix(profiles): migrate k3s Traefik entrypoints to ingress.entrypoints
  charts/eoapi/profiles/local/k3s.yaml
  docs/configuration.md
  docs/unified-ingress.md
Due: helm-lint-syntax, helm-schema-validation

fix: dedupe Traefik entrypoints annotation and enable ingress tests
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/tests/ingress_test.yaml
Due: helm-lint-syntax, helm-schema-validation

fix: make Traefik router entrypoints configurable (fixes HTTPS-by-default) (#540)
  charts/eoapi/Chart.yaml
  charts/eoapi/profiles/local/k3s.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/tests/ingress_test.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/configuration.md
  docs/unified-ingress.md
Due: helm-lint-syntax, helm-schema-validation

fix(helm): redirect bare browser path to trailing slash on traefik
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/tests/browser_redirect_test.yaml
Due: helm-lint-syntax, helm-schema-validation

chore(docs): adjusted AI Guidelines.
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

chore: address reviewer comments
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/tests/browser_redirect_test.yaml
Due: helm-lint-syntax, helm-schema-validation

test(ci): assert browser bare-path redirect on traefik
  scripts/test/integration.sh
  tests/conftest.py
  tests/integration/test_browser.py
Due: none

fix: redirect bare /browser to /browser/ on traefik (#544)
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/tests/browser_redirect_test.yaml
  scripts/test/integration.sh
  tests/conftest.py
  tests/integration/test_browser.py
Due: helm-lint-syntax, helm-schema-validation

chore: bumped version of kubernetes to 1.34+
  README.md
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
  scripts/cluster.sh
Due: helm-lint-syntax, helm-schema-validation

chore(ci): run all helm unittest suites in CI
  .github/workflows/ci.yml
  scripts/test.sh
Due: none

fix: local run of integration tests.
  .gitignore
  charts/eoapi/Chart.yaml
  charts/eoapi/profiles/README.md
  charts/eoapi/profiles/local/k3s.yaml
  charts/eoapi/profiles/local/minikube.yaml
  scripts/README.md
  scripts/deployment.sh
  scripts/lib/common.sh
  scripts/lib/k8s.sh
  scripts/test.sh
Due: helm-lint-syntax, helm-schema-validation

fix: disable mock OIDC server in core profile
  charts/eoapi/profiles/core.yaml
  charts/eoapi/tests/profiles_core_test.yaml
Due: helm-lint-syntax, helm-schema-validation

fix: disable mock OIDC server in core profile (#549)
  charts/eoapi/profiles/core.yaml
  charts/eoapi/tests/profiles_core_test.yaml
Due: helm-lint-syntax, helm-schema-validation

docs(helm): require gitSha in install examples and fix chart repo references
  charts/eoapi/README.md
  charts/eoapi/profiles/README.md
  docs/helm-install.md
  docs/quick-start.md
Due: none

fix: disable mock OIDC server in core profile (#549)
  .github/workflows/ci.yml
  charts/eoapi/profiles/core.yaml
  charts/eoapi/tests/profiles_core_test.yaml
Due: helm-lint-syntax, helm-schema-validation

fix: autopopulate gitsha.
  .github/workflows/release-please.yml
  AGENTS.md
  charts/eoapi/README.md
  charts/eoapi/profiles/README.md
  charts/eoapi/templates/_helpers/core.tpl
  charts/eoapi/templates/_helpers/services.tpl
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/templates/services/multidim/deployment.yaml
  charts/eoapi/templates/services/raster/deployment.yaml
  charts/eoapi/templates/services/stac/deployment.yaml
  charts/eoapi/templates/services/vector/deployment.yaml
  charts/eoapi/tests/gitsha_test.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/argocd.md
  docs/configuration.md
  docs/helm-install.md
  docs/quick-start.md
  scripts/deployment.sh
  scripts/inject-chart-git-sha.sh
Due: helm-lint-syntax, helm-schema-validation

feat: inject gitSha instead of setting manually. (#550)
  .github/workflows/release-please.yml
  AGENTS.md
  charts/eoapi/README.md
  charts/eoapi/templates/_helpers/core.tpl
  charts/eoapi/templates/_helpers/services.tpl
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/templates/services/multidim/deployment.yaml
  charts/eoapi/templates/services/raster/deployment.yaml
  charts/eoapi/templates/services/stac/deployment.yaml
  charts/eoapi/templates/services/vector/deployment.yaml
  charts/eoapi/tests/gitsha_test.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/argocd.md
  docs/configuration.md
  docs/helm-install.md
  docs/quick-start.md
  scripts/deployment.sh
  scripts/inject-chart-git-sha.sh
Due: helm-lint-syntax, helm-schema-validation

fix: repair legacy helm unittests for current template paths
  charts/eoapi/tests/multidim_tests.yaml
  charts/eoapi/tests/pgstac_config_tests.yaml
  charts/eoapi/tests/pgstac_notification_tests.yaml
  charts/eoapi/tests/postgres_tests.yaml
  charts/eoapi/tests/raster_tests.yaml
  charts/eoapi/tests/stac_tests.yaml
  charts/eoapi/tests/vector_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

foo
  charts/eoapi/tests/postgres_tests.yaml
  charts/eoapi/tests/stac_browser_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

foo
  .github/workflows/ci.yml
  scripts/test.sh
Due: none
