Repository developmentseed/eoapi-k8s: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-syntax, helm-schema-validation

.pre-commit-config.yaml:

# Pre-commit configuration for eoAPI Kubernetes charts
# Fast, essential checks only - heavy validation moved to CI

repos:
  # Basic file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^charts/.+/templates/
      - id: check-added-large-files

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        exclude: ^charts/.+/templates/

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  # Python type checking for test files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy strict mode for tests
        args: ['--strict', '--ignore-missing-imports']
        files: ^\.github/workflows/tests/.*\.py$
        additional_dependencies: ['types-psycopg2', 'httpx', 'pytest', 'types-requests']

  # Fast Helm syntax check only
  - repo: local
    hooks:
      - id: helm-lint-syntax
        name: Helm Syntax Check
        entry: >
          bash -c 'for chart in charts/*/; do
          if [ -f "$chart/Chart.yaml" ]; then
          if grep -q "dependencies:" "$chart/Chart.yaml" 2>/dev/null; then
          if [ -d "$chart/charts" ] && [ -n "$(find "$chart/charts" -name "*.tgz" 2>/dev/null)" ]; then
          echo "Linting $chart (dependencies available)...";
          helm lint "$chart" --strict || exit 1;
          else echo "Skipping $chart (dependencies not built - run make deploy or scripts/helm-setup.sh first)";
          fi; else echo "Linting $chart (no dependencies)...";
          helm lint "$chart" --strict || exit 1; fi; fi; done'
        language: system
        files: ^charts/.+\.(yaml|yml)$
        pass_filenames: false

      - id: helm-schema-validation
        name: Helm Schema Validation
        entry: make validate-schema
        language: system
        files: ^charts/.+\.(json|yaml|yml)$
        pass_filenames: false

# Exclude directories
exclude: |
  (?x)^(
      \.git/.*|
      charts/.+/charts/.*|
      charts/.+/tmpcharts.*/.*
  )$

Baseline and autoscaling load tests.
  .github/workflows/ci.yml
  eoapi-cli
  scripts/load.sh
  scripts/test.sh
Due: none

Changed structure slightly.
  scripts/load.sh
Due: none

Added normal, stress and chaos test.
  CHANGELOG.md
  scripts/lib/common.sh
  scripts/load.sh
  scripts/test/autoscaling.sh
  scripts/test/integration.sh
  tests/load/README.md
  tests/load/load_tester.py
  tests/load/test_chaos.py
  tests/load/test_load.py
  tests/load/test_normal.py
  tests/load/test_stress.py
  tests/requirements.txt
Due: none

Added load testing script structure skeleton.
  eoapi-cli
  scripts/load.sh
Due: none

Added auth for stac browser.
  CHANGELOG.md
  charts/eoapi/templates/services/browser/deployment.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

Call run_queued_queries procedure.
  CHANGELOG.md
  charts/eoapi/templates/database/pgstacbootstrap/queue-processor.yaml
  charts/eoapi/tests/pgstac_config_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

fix: Call run_queued_queries procedure. (#377)
  CHANGELOG.md
  charts/eoapi/templates/database/pgstacbootstrap/queue-processor.yaml
  charts/eoapi/tests/pgstac_config_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

Prepared version v0.8.1
  CHANGELOG.md
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
Due: helm-lint-syntax, helm-schema-validation

Update index.yaml
  index.yaml
Due: none

feat: Add queryables file name check
  charts/eoapi/templates/database/pgstacbootstrap/configmap.yaml
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/values.schema.json
Due: helm-lint-syntax, helm-schema-validation

fix: Update changelog to include schema validation for queryables file field
  CHANGELOG.md
Due: none

fix: Correct link in changelog for queryables file field schema validation
  CHANGELOG.md
Due: none

feat: add support for job annotations in pgstac bootstrap configuration
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

feat: update changelog to include support for annotations on PgSTAC bootstrap job
  CHANGELOG.md
Due: none

feat: add docs
  charts/eoapi/values.schema.json
  docs/argocd.md
  docs/configuration.md
Due: helm-schema-validation

fix: clean up whitespace in ArgoCD integration documentation
  docs/argocd.md
Due: none

fix: Add queryables file name check (#380)
  CHANGELOG.md
  charts/eoapi/templates/database/pgstacbootstrap/configmap.yaml
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/values.schema.json
Due: helm-lint-syntax, helm-schema-validation

Ensured non-root container images.
  .github/workflows/ci.yml
  CHANGELOG.md
  charts/eoapi/templates/_helpers/services.tpl
  charts/eoapi/templates/services/doc-server.yaml
  scripts/test.sh
  scripts/test/images.sh
Due: helm-lint-syntax, helm-schema-validation

feat: Add support for job annotations in pgstac bootstrap configuration (#381)
  CHANGELOG.md
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/values.schema.json
  charts/eoapi/values.yaml
  docs/argocd.md
  docs/configuration.md
Due: helm-lint-syntax, helm-schema-validation

Moved service.ports of stac-auth-proxy to values.yaml.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

Added some tests.
  charts/eoapi/tests/stac_browser_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

Added root path for stac-auth-proxy.
  charts/eoapi/profiles/experimental.yaml
Due: helm-lint-syntax, helm-schema-validation

Moved to traefik for default ingress.
  CHANGELOG.md
  charts/eoapi/README.md
  charts/eoapi/profiles/core.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/profiles/production.yaml
  charts/eoapi/templates/networking/ingress-browser.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/values.yaml
  docs/argocd.md
  docs/autoscaling.md
  docs/configuration.md
  docs/unified-ingress.md
  scripts/deployment.sh
Due: helm-lint-syntax, helm-schema-validation

foo
  charts/eoapi/templates/networking/ingress-browser.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
Due: helm-lint-syntax, helm-schema-validation

bar
  charts/eoapi/templates/networking/ingress-browser.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/tests/ingress_tests.yaml
Due: helm-lint-syntax, helm-schema-validation

Added docker system prune for CI.
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

Removed unused deploy.sh.
  scripts/deploy.sh
Due: none

Added custom filter logic for stac-auth-proxy.
  charts/eoapi/data/stac-auth-proxy/custom_filters.py
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/core/stac-auth-proxy-filters-configmap.yaml
  charts/eoapi/tests/stac-auth-proxy-filters_test.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

fix: Add docker system prune for CI (#386)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

Consolidated data directory.
  CHANGELOG.md
  charts/eoapi/data/dashboards/eoAPI-Dashboard.json
  charts/eoapi/data/initdb/queryables/test-queryables.json
  charts/eoapi/data/initdb/samples/my_data.sql
  charts/eoapi/data/initdb/samples/noaa-emergency-response.json
  charts/eoapi/data/initdb/samples/noaa-eri-nashville2020.json
  charts/eoapi/data/initdb/settings/pgstac-notification-triggers.sql
  charts/eoapi/data/initdb/settings/pgstac-settings.sql.tpl
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/database/pgstacbootstrap/configmap.yaml
  charts/eoapi/templates/monitoring/observability.yaml
  charts/eoapi/tests/queryables_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
  tests/integration/test_stac.py
Due: helm-lint-syntax, helm-schema-validation

Upgraded helm version.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/test.sh
Due: none
