Repository developmentseed/eoapi-k8s: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-syntax, helm-schema-validation

.pre-commit-config.yaml:

# Pre-commit configuration for eoAPI Kubernetes charts
# Fast, essential checks only - heavy validation moved to CI

repos:
  # Basic file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^charts/.+/templates/
      - id: check-added-large-files

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        exclude: ^charts/.+/templates/

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  # Python type checking for test files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy strict mode for tests
        args: ['--strict', '--ignore-missing-imports']
        files: ^\.github/workflows/tests/.*\.py$
        additional_dependencies: ['types-psycopg2', 'httpx', 'pytest', 'types-requests']

  # Fast Helm syntax check only
  - repo: local
    hooks:
      - id: helm-lint-syntax
        name: Helm Syntax Check
        entry: >
          bash -c 'for chart in charts/*/; do
          if [ -f "$chart/Chart.yaml" ]; then
          if grep -q "dependencies:" "$chart/Chart.yaml" 2>/dev/null; then
          if [ -d "$chart/charts" ] && [ -n "$(find "$chart/charts" -name "*.tgz" 2>/dev/null)" ]; then
          echo "Linting $chart (dependencies available)...";
          helm lint "$chart" --strict || exit 1;
          else echo "Skipping $chart (dependencies not built - run make deploy or scripts/helm-setup.sh first)";
          fi; else echo "Linting $chart (no dependencies)...";
          helm lint "$chart" --strict || exit 1; fi; fi; done'
        language: system
        files: ^charts/.+\.(yaml|yml)$
        pass_filenames: false

      - id: helm-schema-validation
        name: Helm Schema Validation
        entry: make validate-schema
        language: system
        files: ^charts/.+\.(json|yaml|yml)$
        pass_filenames: false

# Exclude directories
exclude: |
  (?x)^(
      \.git/.*|
      charts/.+/charts/.*|
      charts/.+/tmpcharts.*/.*
  )$

Enabled VRT again.
  charts/eoapi/profiles/core.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/profiles/production.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

Fixed tests.
  .pre-commit-config.yaml
  charts/eoapi/profiles/experimental.yaml
  eoapi-cli
  scripts/test/notification.sh
  tests/autoscaling/test_autoscaling.py
  tests/conftest.py
  tests/notification/test_notifications.py
  tests/notification/test_pgstac_notifications.py
  tests/requirements.txt
Due: helm-lint-syntax, helm-schema-validation

refactor: Streamline scripts into unified eoapi-cli command (#359)
  .github/workflows/ci.yml
  .github/workflows/tests/test_notifications.py
  .github/workflows/tests/test_pgstac_notifications.py
  .pre-commit-config.yaml
  .yamllint.yaml
  CHANGELOG.md
  Makefile
  charts/eoapi/profiles/core.yaml
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/profiles/local/k3s.yaml
  charts/eoapi/profiles/production.yaml
  charts/eoapi/values.yaml
  docs/quick-start.md
  eoapi-cli
  scripts/README.md
  scripts/cluster.sh
  scripts/debug-deployment.sh
  scripts/deploy.sh
  scripts/deployment.sh
  scripts/docs.sh
  scripts/ingest.sh
  scripts/lib/README.md
  scripts/lib/common.sh
  scripts/lib/k8s.sh
  scripts/local-cluster.sh
  scripts/test.sh
  scripts/test/autoscaling.sh
  scripts/test/integration.sh
  scripts/test/notification.sh
  tests/autoscaling/test_autoscaling.py
  tests/conftest.py
  tests/integration/test_observability.py
  tests/integration/test_raster.py
  tests/integration/test_stac.py
  tests/integration/test_vector.py
  tests/notification/test_notifications.py
  tests/notification/test_pgstac_notifications.py
  tests/requirements.txt
Due: helm-lint-syntax, helm-schema-validation

feat: Add support for file-based and ConfigMapRef queryables in pgstacBootstrap
  charts/eoapi/templates/database/pgstacbootstrap/configmap.yaml
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/tests/queryables_tests.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

feat: Add STAC queryables test to validate API response schema
  scripts/test.sh
  tests/integration/test_stac.py
Due: none

feat: Add support for ConfigMap reference-based queryables configuration
  CHANGELOG.md
Due: none

test: Update STAC queryables test for improved schema validation
  charts/eoapi/values.yaml
  scripts/test.sh
  tests/integration/test_stac.py
Due: helm-lint-syntax, helm-schema-validation

fix: Correct path to queryables test file in test_stac_queryables function
  tests/integration/test_stac.py
Due: none

feat: Add queryables configuration section for STAC API search
  docs/configuration.md
Due: none

fix: Remove trailing whitespace in queryables configuration
  docs/configuration.md
Due: none

feat: Update queryables configuration to include name field for testing
  charts/eoapi/profiles/experimental.yaml
Due: helm-lint-syntax, helm-schema-validation

Fixed tests.
  charts/eoapi/initdb-data/queryables/test-queryables.json
  tests/integration/test_stac.py
Due: helm-schema-validation

Added stac-auth-proxy.
  CHANGELOG.md
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/_helpers/validation.tpl
  charts/eoapi/templates/core/validation.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
  charts/eoapi/values.yaml
Due: helm-lint-syntax, helm-schema-validation

Added integration tests for stac-auth-proxy.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/mock-oidc/deployment.yaml
  charts/eoapi/templates/mock-oidc/service.yaml
  charts/eoapi/values.yaml
  tests/integration/test_stac_auth.py
Due: helm-lint-syntax, helm-schema-validation

Temporarily patch stac-auth-proxy chart until PR comes in.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/core/stac-auth-proxy-patch-rbac.yaml
  charts/eoapi/templates/core/stac-auth-proxy-patch.yaml
Due: helm-lint-syntax, helm-schema-validation

Fixed dynamic hostnames for auth tests.
  scripts/deploy.sh
  scripts/deployment.sh
Due: none

feat: Document cloud-native authentication for bucket access. (#364)
  CHANGELOG.md
  docs/aws-eks.md
  docs/azure.md
  docs/configuration.md
  docs/gcp-gke.md
  docs/stac-auth-proxy.md
Due: none

fix: Remove redundant assertions in test_stac_queryables function
  tests/integration/test_stac.py
Due: none

feat: Added support for ConfigMap reference-based queryables configuration (#360)
  CHANGELOG.md
  charts/eoapi/initdb-data/queryables/test-queryables.json
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/database/pgstacbootstrap/configmap.yaml
  charts/eoapi/templates/database/pgstacbootstrap/job.yaml
  charts/eoapi/tests/queryables_tests.yaml
  charts/eoapi/values.yaml
  docs/configuration.md
  scripts/test.sh
  tests/integration/test_stac.py
Due: helm-lint-syntax, helm-schema-validation

Removed unused testing variable.
  CHANGELOG.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/values.yaml
  scripts/deploy.sh
Due: helm-lint-syntax, helm-schema-validation

refactor: Remove unused testing variable. (#369)
  CHANGELOG.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/tests/ingress_tests.yaml
  charts/eoapi/values.yaml
  scripts/deploy.sh
Due: helm-lint-syntax, helm-schema-validation

Fixed tests.
  charts/eoapi/profiles/experimental.yaml
  scripts/deploy.sh
  scripts/deployment.sh
Due: helm-lint-syntax, helm-schema-validation

Added integration tests for stac-auth-proxy.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/mock-oidc/deployment.yaml
  charts/eoapi/templates/mock-oidc/service.yaml
  charts/eoapi/values.yaml
  scripts/deploy.sh
  scripts/deployment.sh
  tests/conftest.py
  tests/integration/test_stac_auth.py
Due: helm-lint-syntax, helm-schema-validation

Temporarily patch stac-auth-proxy chart until PR comes in.
  charts/eoapi/templates/core/stac-auth-proxy-patch-rbac.yaml
  charts/eoapi/templates/core/stac-auth-proxy-patch.yaml
Due: helm-lint-syntax, helm-schema-validation

Actually use mock-oidc-server.
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/mock-oidc/ingress.yaml
  scripts/test/integration.sh
  scripts/test/notification.sh
  tests/conftest.py
  tests/integration/test_stac_auth.py
  tests/notification/test_notifications.py
  tests/notification/test_pgstac_notifications.py
Due: helm-lint-syntax, helm-schema-validation

Removed stac-auth-proxy charts patch.
  charts/eoapi/Chart.yaml
  charts/eoapi/templates/core/stac-auth-proxy-patch-rbac.yaml
  charts/eoapi/templates/core/stac-auth-proxy-patch.yaml
  charts/eoapi/templates/mock-oidc/ingress.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  tests/conftest.py
  tests/integration/test_stac_auth.py
  tests/notification/test_pgstac_notifications.py
Due: helm-lint-syntax, helm-schema-validation

Let's be a bit more patient.
  charts/eoapi/templates/mock-oidc/deployment.yaml
Due: helm-lint-syntax, helm-schema-validation

Check that stac-auth-proxy only makes sens with stac enabled.
  charts/eoapi/templates/_helpers/validation.tpl
Due: none

feat: Add stac-auth-proxy. (#358)
  CHANGELOG.md
  charts/eoapi/Chart.yaml
  charts/eoapi/README.md
  charts/eoapi/profiles/experimental.yaml
  charts/eoapi/templates/_helpers/validation.tpl
  charts/eoapi/templates/core/validation.yaml
  charts/eoapi/templates/mock-oidc/deployment.yaml
  charts/eoapi/templates/mock-oidc/service.yaml
  charts/eoapi/templates/networking/ingress.yaml
  charts/eoapi/templates/networking/traefik-middleware.yaml
  charts/eoapi/tests/stac-auth-proxy-ingress_test.yaml
  charts/eoapi/values.yaml
  scripts/deploy.sh
  scripts/deployment.sh
  scripts/test/integration.sh
  scripts/test/notification.sh
  tests/conftest.py
  tests/integration/test_stac_auth.py
  tests/notification/test_notifications.py
  tests/notification/test_pgstac_notifications.py
Due: helm-lint-syntax, helm-schema-validation

Removed unused deploy.sh.
  scripts/deploy.sh
Due: none

Added load testing script structure skeleton.
  eoapi-cli
  scripts/load.sh
Due: none
